.TestForm {
    background-color: #FFFFFF;
    width: 600px;
    height: 600px;
    overflow: auto;
    padding: 20px;
    border-radius: 25px;
}

.weatherForm {
    width: 400px;
}

.TestLabel {
    color: #282c34;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}


.TestCenter {
    text-align: center;
}

.TestText {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Summary-list {
    margin-bottom: 10px;
}
